<h1>User Listing</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Email</th>
    <th>User Status</th>


    <th>Current balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% if current_user.admin %>
      <h1>Superuser View of Members</h1>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.user_firstname %></td>
            <td><%= user.user_surname %></td>
            <td><%= user.email %></td>
            <td><%= user.user_status %></td>


            <td><%= user.current_balance %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Approve', approve_man_url(:id => user.id), data: { confirm: 'Are you sure you want to approve this new Manager' } %></td>
            <td><%= link_to 'Reject', reject_man_url(:id =>user.id), data: { confirm: 'Are you sure you want to reject this new Manager?' } %></td>
            <td><%= link_to 'Add 1 Euro', payment_plus_path(:id => user.id) %></td>
            <td><%= link_to 'Subtract 1 Euro', payment_minus_path(:id => user.id) %></td>
          </tr>
      <% end %>
  <% elsif %>

      <% if current_user.manager %>
          <h1>Manager View of Members</h1>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.user_firstname %></td>
                <td><%= user.user_surname %></td>
                <td><%= user.email %></td>
                <td><%= user.user_status %></td>


                <td><%= user.current_balance %></td>
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit User Details', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?' } %></td>

                <td><%= link_to 'Add 1 Euro', payment_minus_url(:id => user.id) %></td>
              </tr>
          <% end %>
      <% else %>
          <h1>Ordinary View of Members - shouldn't be visible</h1>
      <% end %>
  <% end %>
</table>

<br/>

<%= link_to 'New Member', new_user_path %></ br>
<%= link_to 'New Syndicate', new_syndicate_path %>
