<h1>Syndicate List</h1>

<table>
  <tr>
    <th>Syndicate id</th>
    <th>Syndicate name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syndicates.each do |syndicate| %>

  <tr>
    <td><%= syndicate.id %></td>
    <td><%= syndicate.syndicate_name %></td>
    <td><%= syndicate.status %></td>
    <td><%= button_to 'Edit', edit_syndicate_path(syndicate), :method => :get %></td>
    <td><%= button_to 'Delete', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to 'Approve', approve_url(:id => syndicate.id), data: { confirm: 'Are you sure you want to approve this new Syndicate' } %></td>
    <td><%= button_to 'Reject', reject_url(:id => syndicate.id), data: { confirm: 'Are you sure you want to reject this new Syndicate?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Syndicate', new_syndicate_path %>
