<%= form_for(@lottery_selection) do |f| %>
    <% if @lottery_selection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lottery_selection.errors.count, "error") %> prohibited this lottery_selection from being
            saved:</h2>

          <ul>
            <% @lottery_selection.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="input_table">
      <tr>
        <th colspan="7"><h3>Lottery Selection</h3></th>
      </tr>

      <tr>
        <td>Draw Date</td>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
        <td>Four</td>
        <td>Five</td>
        <td>Six</td>
      </tr>

      <tr>
        <td><%= f.date_select :lottery_selection_date %></td>
        <td><%= f.select :lottery_selection_1, options_for_select(1..49) %></td>
        <td><%= f.select :lottery_selection_2, options_for_select(1..49) %></td>
        <td><%= f.select :lottery_selection_3, options_for_select(1..49) %></td>
        <td><%= f.select :lottery_selection_4, options_for_select(1..49) %></td>
        <td><%= f.select :lottery_selection_5, options_for_select(1..49) %></td>
        <td><%= f.select :lottery_selection_6, options_for_select(1..49) %></td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
