<h1>Syndicate Lottery Number Selections</h1>



<%= button_to 'New Lottery selection', new_lottery_selection_path, :method => :get %>
<br />
<table>
  <tr>
    <th>Syndicate</th>
    <th>Selection 1</th>
    <th>Selection 2</th>
    <th>Selection 3</th>
    <th>Selection 4</th>
    <th>Selection 5</th>
    <th>Selection 6</th>
    <th>Selection date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lottery_selections.each do |lottery_selection| %>
  <tr>
    <td><%= lottery_selection.syndicate_id %></td>
    <td><%= lottery_selection.lottery_selection_1 %></td>
    <td><%= lottery_selection.lottery_selection_2 %></td>
    <td><%= lottery_selection.lottery_selection_3 %></td>
    <td><%= lottery_selection.lottery_selection_4 %></td>
    <td><%= lottery_selection.lottery_selection_5 %></td>
    <td><%= lottery_selection.lottery_selection_6 %></td>
    <td><%= lottery_selection.lottery_selection_date.strftime("%d %b %y") %></td>
    <td><%= button_to 'Change Selection', edit_lottery_selection_path(lottery_selection), :method => :get %></td>
    <td><%= button_to 'Delete Selection', lottery_selection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


