<!DOCTYPE html>
<html>
<head>
  <title>Irish Lottery Syndicate Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if current_user %>
      <h4>Welcome back, <%= current_user.user_firstname %>. Not You? <%= link_to "Sign out", signout_path, method: "delete" %></h4>
      <% end %>

</head>
<body id="main_body">




<div id="apDiv3">

  <div align="center">
    <h1 class="h1"><strong>Irish Lottery Syndicate Management System</strong> </h1>

    </div>
  <% if signed_in? %>


                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", current_user %></li>
                    <li><%= link_to "Member Admin", users_url %></li>
                    <li><%= link_to "Syndicate Management", syndicates_url %></li>
                    <li><%= link_to "Lottery Admin", lottery_selections_url %></li>
                    <li><%= link_to "Payment Admin", payments_url %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>
                  </ul>

                </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
</div>




<%= yield %>



</body>
<foot class="main_footer">
  <div>Douglas Armstrong © 2012</div>
</foot>
</html>
